<!-- 
<div class="main">
  <app-login></app-login>
</div> -->


<div class="ems-container">
    <div class="ems__header">
      <app-header></app-header>
    </div>
    <!-- <div class="search-field">
      <app-search></app-search>
    </div>
    <div class="ems__body">
      <div class="card-holder">
        <app-cards style="width: 100%"></app-cards>
  
      </div>
    </div> -->

    <router-outlet></router-outlet>
    <div class="ems__footer">
      <app-footer></app-footer>
    </div>
  </div>
  