html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.ems-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.ems__header {
  background-color: #fcfcfc;
  padding-left: 2em;
  padding-right: 2rem;
  box-sizing: border-box;
}
.ems__body {
  background-color: whitesmoke;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 5rem  0 2rem 0;
  
  
}

.search-field{
  justify-content: stretch;
  box-sizing: border-box;
  padding: 1rem;
}
